@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
main {
    font-family: 'Poppins', sans-serif;
    margin: 50px;
}

.btn{
    background-color:#023B48
}
.btn:hover{
    background-color:#006075
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.ng-valid:not(registrarse).ng-touched{
    border-left: 5px solid #42a948;
}

.ng-invalid:not(registrarse).ng-touched{
    border-left: 5px solid #a94442;
}
.error-message span {
    display: block;
}

.success-message {
    color: green;
    font-weight: bold;
}

.registro{
    margin-top: 10px;
}

.contenedor-form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
      
.form-label {
    font-weight: bold;
}
      
.form-control {
        margin-bottom: 10px;
}
.btn-primary {
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
}
      
.btn-primary:hover {
    background-color: #0d7a6c;
}
#provincia {
    margin-top: 10px;
    display: block;
    width: 100%;
  }
@media (min-width: 992px) {
    .contenedor-form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}