
<main class="contenedor-form">
    <form class="row g-3 container-sm" (ngSubmit)="submitForm($event)" [formGroup]="registrarse">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" required>
            <p *ngIf="invalidEmail" class="alert alert-danger">
                El Mail no es válido
            </p>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" formControlName="password" required>
            <p *ngIf="invalidPass" class="alert alert-danger">
                La contraseña debe de tener al menos 8 caracteres, una minúscula, una mayúscula, y un número
            </p>
        </div>

        <div class="col-md-6">
            <label for="inputPassword5" class="form-label">Confirmar contraseña</label>
            <input type="password" class="form-control" id="passcon" formControlName="passcon" required>
            <p *ngIf="invalidPasscon" class="alert alert-danger">
                El campo Confirmar contraseña debe ser igual a la contraseña
            </p>
        </div>
        <div class="col-md-4">
            <label for="inputZip" class="form-label">DNI</label>
            <input type="text" class="form-control" id="dni" formControlName="dni" required>
            <p *ngIf="invalidDni" class="alert alert-danger">
                El DNI debe de tener al menos 8 dígitos
            </p>
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" placeholder="1234 Main St" formControlName="direccion" required>
            <p *ngIf="invalidDireccion" class="alert alert-danger">
                La dirección debe de tener al menos 5 caracteres
            </p>
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">Localidad</label>
            <input type="text" class="form-control" id="localidad" formControlName="localidad" required>
            <p *ngIf="invalidLocalidad" class="alert alert-danger">
                La localidad debe tener de 1 a 20 caracteres
            </p>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Provincia</label>
            <select id="provincia" class="form-select" formControlName="provincia" required>
                <option selected>Seleccionar</option>
                <option>Córdoba</option>
                <option>Buenos Aires</option>
                <option>La Rioja</option>
                <option>Rosario</option>
            </select>
            <p *ngIf="invalidProvincia" class="alert alert-danger">
                La provincipa debe ser diferente a Seleccionar
            </p>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
        <p *ngIf="formValid"> Registro completado!</p>
      
    </form>
</main>
