@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
main {
    font-family: 'Poppins', sans-serif;
    margin: 50px;
}

.btn{
    background-color:#023B48
}
.btn:hover{
    background-color:#006075
}

@media (min-width: 992px) {
    .contenedor-form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}