html{
    width: 100%;
    height: 100%;
}
.contenedor{
    margin: 50px auto;
}
span{
    display: block;
    margin: 30px auto;
}
a{
    color: #023B48;
}
a:hover{
    color: #006075;
    text-decoration: none;
}

.btn{
    background-color:#023B48
}
.btn:hover{
    background-color:#006075
}
@media (min-width: 992px) {
    .contenedor {
        background-color: aliceblue;
        margin: 200px auto;
        padding: 2%;
        width: 35%;
        height: 35%;      
    }
}

