.adopted-animals {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.adopted-animals h2 {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  text-align:
  left;
  border: 1px solid #e5e5e5;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
