<main>
    <form class="container-sm" [formGroup]="loguearse" (ngSubmit)="submitForm($event)">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
            <p id="invalidEmail" *ngIf="invalidEmail">Ingrese un correo electronico válido</p>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="exampleInputPassword1" formControlName="password">
            <p id="invalidPass" *ngIf="invalidPass">Ingrese una contraseña</p>
        </div>
        <div class="enviar">
            <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
            <span>¿No tenes una cuenta?
            <a href="#" class="registro">Registrate</a></span>
            <p id="formValid" *ngIf="formValid">Inicio de sesión aprobado</p>
        </div>
    </form>
</main>