<div class="container d-flex flex-column justify-content-center align-items-center g-5 p-5">
    <h1 class="p-2">Agradecimientos</h1>
    <h4 class="p-2">¿Quieres apoyarnos y aparecer en la lista?</h4>
    <div class="d-grid gap-2 d-md-block p-2">
        <button class="btn btn-primary" style="background-color: #023B48;" type="button">Donar</button>
    </div>
</div>
<div class="container d-flex flex-column justify-content-center align-items-center" *ngFor="let elemento of datos">
    <h1 style="color: #023B48;">Donadores</h1>
    <ul class="list-group p-5">
        <li class="list-group-item">Martin Guzmán de La Fuente</li>
        <p>{{elemento.nombre}}</p>
    </ul>
</div>  