<footer>

  <div class="footer">

    <div class="footerInfo">

      <div class="colum1">
        <h1>Mas información</h1>

        <p>AS.PR.A está compuesto por voluntarios que comparten el respeto por la vida de los animales y los
          consideran
          sus iguales
          siendo que estos tienen capacidad para sentir placer, alegría, dolor y sufrimiento.</p>
      </div>

      <div class="colum2">

        <h1>Seguí nuestras redes</h1>

        <div class="redesIcons">
          <i class="fa-brands fa-facebook fa-2xl"></i>
        </div>

        <div class="redesIcons">
          <i class="fa-brands fa-instagram fa-2xl"></i>
        </div>

        <div class="redesIcons">
          <i class="fa-brands fa-whatsapp fa-2xl"></i>
        </div>
      </div>
      <!--COMIENZA SUSCRIBIRSE-->
      <section class="columnaMenu">
        <div class="colum3">
          <h4>Menú</h4>
          <br>
          <a href="">Home</a>
          <br>
          <a href="/pages/adopcion.html">Adopta</a>
          <br>
          <a href="/pages/donaciones.html">Donaciones</a>
          <br>
          <a href="/pages/nosotros.html">Nosotros</a>

        </div>



        <div class="lineaFooter">
          <div class="footer1">
            <div class="copyright">
              ASPRA - Adoptá, no compres © 2023 Todos los Derechos Reservados
            </div>
          </div>
        </div>