<form [formGroup]="form" class="container p-5 m-5" (ngSubmit)="submitForm($event)">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
            required formControlName="email">
        <p *ngIf="invalidEmail" style="color:red">Ingrese un correo electrónico</p>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Motivo del reporte</label>
        <select class="form-select" aria-label="Default select example" required>
            <option selected>Perdido</option>
            <option value="1">Maltratado</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="" required formControlName="direccion">
        <p *ngIf="invalidAddress" style="color:red">Ingrese una dirección</p>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required formControlName="descripcion"></textarea>
        <p *ngIf="invalidDescription" style="color:red">Ingrese una descripción</p>
    </div>
    <button type="submit" class="container btn btn-primary my-3" style="background-color: #023B48;">Enviar
        solicitud</button>
    <p *ngIf="formValid" style="color:green">Reporte aprobado</p>
</form>

