<main>
    <h1>Animales en Adopcion</h1>

    <div class="filtros">
        <p>Filtrar:</p>
        <form action="#" method="dialog">
            <select class="form-select" aria-label="Default select example">
                <option selected>Tipo de animal</option>
                <option value="1">Gato</option>
                <option value="2">Perro</option>
                <option value="3">Conejo</option>
            </select>

            <select class="form-select" aria-label="Default select example">
                <option selected>Tamaño</option>
                <option value="1">Grande</option>
                <option value="2">Mediano</option>
                <option value="3">Pequeño</option>
            </select>

            <select class="form-select" aria-label="Default select example">
                <option selected>Edad</option>
                <option value="1">5-12 Meses</option>
                <option value="2">1 o 2 Años</option>
                <option value="3">Mas de 3 años</option>
            </select>
            <div>
                <button type="button" class="btn btn-success btn-sm">Filtrar</button>
            </div>
            
        </form>
    </div>
    <div class="productos">
        <div class="card" style="width: 18rem;" *ngFor="let elements of lista">
            <img src="../../../assets/img/gato-lola.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{elements.titulo}}</h5>
                <p class="card-text">{{elements.descripcion}}</p>
                <a routerLink="/cart" class="btn btn-primary">Añadir al Carrito</a>
            </div>
        </div>
        
    </div>
</main>