<section class="adopta">
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <h1 id="titulo">
          ADOPTA
        </h1>
        <h4 id="subtexto">
          Y SALVA UNA VIDA
        </h4>
        <div class="boton">
          <a href="../Vistas/pages/adopcion.html">
            <button class="bton">
              Quiero Adoptar!
            </button>
          </a>
        </div>
      </div>
      <div class="col">
        <h4 id="Presentacion">
          ¿Por que adoptar y no comprar?
        </h4>
        <h6 id="texto">Al adoptar o recoger a un animal de la calle, estarás contribuyendo a reducir la
          sobrepoblación canina,
          ya que si
          compras una mascota le estarás quitando la oportunidad a un perrito de la calle que necesita del amparo de
          un dueño.</h6>
      </div>

    </div>
  </div>
</section>

<section class="especialistas">
  <h1 id="specialists">
    ESPECIALISTAS
  </h1>
  <h3 id="Presentacion2">
    En AS.PR.A contamos con un grupo de veterinarios de primer nivel, para garantizar que la mascota en adopcion,
    vaya a su nuevo hogar en un estado de salud optimo. Entra y conocelos
  </h3>


  <div class="boton1">
    <a href="./pages/veterinarios.html">
      <button class="bton3">
        Nuestros Veterinarios
      </button>
    </a>
  </div>
</section>


<section class="salvaVidas">
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <h1 id="Adoptatumascota4">
          SALVA VIDAS
        </h1>
        <h3 id="Presentacion4">
          Si presencia el abuso a un animal, que por su propia condición son indefensos y dependientes, denúncialo.
          No permitas que esa situación continúe sin hacer algo por él.
        </h3>
      </div>
      <div class="col">
        <a href="../Vistas/pages/adopcion.html">
          <button class="bton4">
            Denunciar Maltrato
          </button>
        </a>
      </div>
    </div>
  </div>
</section>


<section class="galeria">
  <div class="galery">
    <h1 id="Adoptatumascota5">
      GALERIA
    </h1>
    <h3 id="Presentacion5">
      ¿Querés saber cómo luce tu futuro compañero canino?
      ¡Aquí te mostramos algunos ejemplos de ellos!
      Podés indagar más a fondo ingresando a los links
      mencionados anteriormente como "Seguimiento" o directamente en el botón de "Adoptar".
    </h3>
  </div>
  <div class="centrarl">
    <div class="galerycont">
      <img id="imgestandar" src="./assets/img/nena con conejo.webp" alt="pic1">
      <img id="imgestandar" src="./assets/img/retrato-mujer-su-hermoso-perro.webp" alt="pic2">
      <img id="imgestandar" src="./assets/img/caniche-copito.webp" alt="pic3">
      <img id="imgestandar" src="./assets/img/perro-tomy.webp" alt="pic4">
    </div>
  </div>

</section>
<section class="contacto">
  <div class="contact">
    <h1 id="Adoptatumascota1">
      ¡CONTACTANOS!
    </h1>
    <h3 id="Adoptatumascota2">
      Si queres comunicarte con nosotros por el motivo que desees, y de una forma privada y segura, ingresa aqui
      y hacelo de forma rapida y sencilla
    </h3>
    <a routerLink="/contacto">
      <button class="bton11">
        Envianos tu mensaje!
      </button>
    </a>
  </div>
</section>