<header>
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#006075;">
    <img src="assets/img/ASPRA.png" width="20%" alt="...">
    <a class="navbar-brand" href="/index.html"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">HOME<span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            SERVICIOS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="estiloMenu">
            <a class="dropdown-item" href="./pages/adopcion.html">Adoptar</a>
            <a class="dropdown-item" href="./pages/reporte.html">Reportar Animal</a>
            <a class="dropdown-item" href="./pages/Seguimiento de animales.html">Seguimiento de animales</a>
            <!-- <div class="dropdown-divider"></div> -->

            <a class="dropdown-item" routerLink="/veterinarios">Veterinarios</a>
            <a class="dropdown-item" routerLink="/petFriendly">Lugares petFriendly</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            DONACIONES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="estiloMenu">
            <a class="dropdown-item" href="./pages/metodoPago.html">Aporte Economicos
            </a>
            <a class="dropdown-item" href="./pages/donaciones.html">Donacion de Insumos</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nosotros">NOSOTROS<span class="sr-only"></span></a>
        </li>

        <section class="login">
          <div class="IconsAccount">
            <li class="nav-item dropdown-left"><i class="fa-solid fa-user-plus fa-2xl" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p class="sesion">Sign in</p>
              </i>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="estiloIcon">
                <li><a class="dropdown-item" routerLink="/loguearse">Iniciar sesión</a></li>
                <li><a class="dropdown-item" href="./pages/registro.html">Crear Cuenta</a></li>
                <li><a class="dropdown-item" href="./pages/perfil.html">Mi cuenta</a></li>
              </ul>
            </li>
          </div>