<div class="container d-flex flex-column justify-content-center align-items-center g-5 p-5">
    <h1 class="p-2">Donaciones</h1>
    <h4 class="p-2">¿Quieres apoyarnos y aparecer en la lista?</h4>
    <div class="d-grid gap-2 d-md-block p-2">
        <button class="btn btn-primary" style="background-color: #023B48;" type="button">Donar</button>
    </div>
</div>
<div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 style="color: #023B48;">Donadores</h1>

    <table>
            <tr>Donador <p>{{datos[0].nombre}}</p></tr>
            <tr>Monto <p>{{datos[0].monto}}</p></tr>
    </table>


</div>