<main>
    <h1>Veterinarios</h1>
      <div class="tarjeta">
          <div class="imagen"></div>
          <div>
              <p>Martin Guzman</p>
              <p>Email: martin@gmail.com</p>
              <p>3902141521</p>
          </div>
      </div>
      <div class="tarjeta">
          <div class="imagen"></div>
          <div>
              <p>Martin Guzman</p>
              <p>Email: martin@gmail.com</p>
              <p>3902141521</p>
          </div>
      </div>
      <div class="tarjeta">
          <div class="imagen"></div>
          <div>
              <p>Martin Guzman</p>
              <p>Email: martin@gmail.com</p>
              <p>3902141521</p>
          </div>
      </div>
      <div class="tarjeta">
          <div class="imagen"></div>
          <div>
              <p>Martin Guzman</p>
              <p>Email: martin@gmail.com</p>
              <p>3902141521</p>
          </div>
      </div>
  </main>
