*{
    font-family: 'Poppins', sans-serif;
}

.button_formulario{
    background-color: #023B48;
}
.button_formulario:hover{
    background-color:#006075;
}
.style_agradecimiento{
    
    width: 700px;
    height: 80px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
   
}

